/* font-family: 'Berkshire Swash', cursive; */

*{margin:0; padding:0; font-family:Arial,sans-serif;}

html{height:100%;}

body {
    background-color:#AD9F86/*#978666*/;
    height:100%;
}

.page {
    width:280px;
    margin: 0 auto;
}
.centreBanner {
    height:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    text-align:center;
}

.centreBanner img {
    width:100%;
}

body header{
    background:url(../img/header-bg.jpg) #333;
    box-shadow: 0px 2px 6px #111;
}

header .banner{
    display:flex;
    justify-content: center;
}
header .banner img{
    height:130px;
    margin:5px;
    box-sizing: border-box;
}
header nav{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    text-align:center;
    padding: 0 0 19px;
    color:#fff;
}

footer{
    text-align: center;
    font-weight:bold;
    padding:20px 10px;
    background:url(../img/leatherbg_black.jpg) #000;
    color:#fff;
    box-shadow: inset 0px 3px 6px #111;
    border-top: solid 2px #776548;
}
section{
    margin:20px auto;
    border-style: dashed none dashed none;
    border-width:2px;
    border-color: #776548;
    color:#000;
}
section h1 {
    margin: 10px auto;
    font-family: 'Berkshire Swash', sans-serif;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px #776548;
    color:#fff;
}

section p {
    margin: 10px auto;
}

section ul{
    padding-left:28px;
    margin:10px auto;
}
li{margin:5px auto;}

.btn{
    display:inline-block;
    margin:5px;
    padding:5px;
    cursor:pointer;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    box-sizing: border-box;
    border-radius:4px;
}
nav .btn:hover{
    padding:3px 5px 7px;
}

.btn.text{
    font-family: 'Berkshire Swash', sans-serif;
    font-weight:normal;
}

.bg-color-1{
    background-color:#3c9700;
}
.btn.bg-color-1:hover{
    background-color:#44aa00;
}

.bg-red{
    background-color:#d80000;
}
.btn.bg-red:hover{
    background-color:#fc0000;
}


.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
}

.gallery .media-container{
    flex: 1 1 auto;
    margin:20px;
    text-align: center;
}
.media-container img{
    width:280px;
    border:3px solid #776548;
    border-radius:8px;
    box-sizing: border-box;
}

.blackout{
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.8);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.modal{
    width:280px;
    background-color:#AD9F86;
    border:3px solid #776548;
    border-radius:8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px #333;
    font-weight:bold;
}
.modal div{
    margin:10px;
}


@media all and (min-width: 480px){
    .page{
        width:440px;
    }
    .media-container img{width:auto; height:100%;}
    .gallery .media-container{height:200px;}


}
@media all and (min-width: 720px){
    .page{
        width:720px;
    }

}
@media all and (min-width: 1024px){
    .page{
        width: 1024px;
    }
}

.center {text-align:center;}